* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header .top {
  padding: 10px 0px;
  background-color: #1a5910;
}
header .top p {
  font-family: Rubik;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 0px;
}
header nav {
  background-color: #ffffff;
}
header nav a {
  font-family: rubik !important;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 15px !important;
  line-height: normal !important;
  color: #000;
  text-transform: uppercase;
}

.banner {
  min-height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../Images/Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner h1 {
  font-size: 72px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 991px) {
  .banner h1 {
    font-size: 62px;
    line-height: 62px;
  }
}
.banner h1 span {
  color: #ddab6d;
}
.banner h1 .no {
  color: #fff;
}
.banner p {
  font-family: rubik;
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
}

.highlight {
  padding: 70px 0px;
}
.highlight h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  color: rgb(26, 89, 16);
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .highlight h2 {
    font-size: 33px;
  }
}
.highlight img {
  border-radius: 20px;
}

.iframe iframe {
  width: 100%;
  min-height: 600px;
}
@media (max-width: 991px) {
  .iframe iframe {
    min-height: 250px;
  }
}

.location {
  padding: 70px 0px;
}
.location h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.location h2 span {
  color: rgb(26, 89, 16);
}
@media (max-width: 991px) {
  .location h2 {
    font-size: 33px;
  }
}

.construction-highlights {
  padding: 70px 0px;
}
.construction-highlights h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  color: rgb(55, 55, 61);
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.construction-highlights h2 span {
  color: rgb(26, 89, 16);
}
@media (max-width: 991px) {
  .construction-highlights h2 {
    font-size: 33px;
  }
}

.key-specification {
  padding: 70px 0px;
  background-color: #1a5910;
}
.key-specification h2 {
  font-size: 44px;
  line-height: 44px;
  font-style: normal;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: #fff;
  padding-bottom: 40px;
}
.key-specification h2 span {
  color: rgb(221, 171, 109);
}
@media (max-width: 991px) {
  .key-specification h2 {
    font-size: 33px;
  }
}
.key-specification .box {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}
.key-specification .box h4 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  font-style: normal;
  padding-top: 20px;
  text-align: center;
}
.key-specification .box p {
  font-family: rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  color: #000;
  text-align: center;
}

.contact {
  background: url(../Images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px;
}
.contact h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  font-style: normal;
}
.contact a {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  font-family: rubik;
  color: #fff;
  text-decoration: none;
  padding-bottom: 30px !important;
}
.contact a span {
  color: rgb(221, 171, 109);
}
.contact h4 {
  font-family: rubik;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  font-style: normal;
  margin-bottom: 0px;
}
.contact h5 {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: rgb(214, 214, 214);
}
.contact h6 {
  font-family: rubik;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.contact input {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
}
.contact textarea {
  width: 100%;
  border-radius: 30px;
}
.contact .form-box {
  background-color: #7e8b7d;
  padding: 50px;
  border-radius: 30px;
}
.contact button {
  background-color: RGB(6 106 171);
  padding: 5px 18px;
  color: white;
  font-family: rubik;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}

footer {
  background-color: #fff;
  padding: 20px 0px;
}
footer h6 {
  font-family: rubik;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  text-align: center;
}/*# sourceMappingURL=style.css.map */